/* index.html */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

#indexPage {
    background: linear-gradient(to bottom, #000000, #5d625ed0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#indexPage .menu {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    top: 0px;
    right: 0px;
}

#indexPage #about, #indexPage #contact, #indexPage #education, #indexPage #experience, #indexPage #skills {
    display: inline-block;
    background: none;
    border: none;
    font-size: 20px;
    font-family: "Roboto Mono", arial, sans-serif;
    font-weight: 450;
    color: gray;
    position: absolute;
    top: 50px;
}

#indexPage #feedback {
    display: inline-block;
    background: none;
    border: 2px solid;
    font-size: 20px;
    font-family: "Roboto Mono", arial, sans-serif;
    font-weight: bolder;
    color: purple;
    position: absolute;
    top: 50px;
    right: 20px;
}

#indexPage #contact {
    right: 160px;
}

#indexPage #about {
    right: 290px;
}

#indexPage #education {
    right: 400px;
}

#indexPage #experience {
    right: 560px;
}

#indexPage #skills {
    right: 740px;
}

#indexPage #about:hover, #indexPage #contact:hover, #indexPage #education:hover, #indexPage #experience:hover, #indexPage #skills:hover {
    cursor: pointer;
    color: white;
    transform: translateY(3px);
}

#indexPage #feedback:hover {
    cursor: pointer;
    color: rgb(22, 162, 92);   
}

#indexPage #me {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 45%;
}

#indexPage .intro {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 43%;
    font-family: "Kanit", arial, sans-serif;
}

#indexPage .intro h1 {
    color: white;
}

#indexPage .intro:hover {
    cursor: default;
}

#indexPage #name {
    color: white;
    position: absolute;
    font-size: 40px;
    top: 30px;
    left: 0px;
    line-height:0.8em;
}

#indexPage #name span {
    color: rgba(236, 73, 144, 0.892);
    font-weight: 550;
}

#indexPage #profession {
    color: rgba(24, 196, 181, 0.558);
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 120px;
    right: 25px;
    border: 5px inset rgba(24, 196, 181, 0.558);
    padding: 5px 35px;
}

#indexPage .followMe {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.712);
    box-shadow: 5px 0px 30px black;
}

#indexPage .followMe p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Josefin Sans", arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

#indexPage .icons {
    width: 450px;
    font-size: 40px;
    position: absolute;
    left: 37%;
}

#indexPage .fa-youtube {
    position: absolute;
}

#indexPage .fa-facebook {
    position: absolute;
    left: 20%;
}

#indexPage .fa-linkedin {
    position: absolute;
    left: 40%;
}

#indexPage .fa-square-x-twitter {
    position: absolute;
    left: 60%;
}

#indexPage .fa-square-instagram {
    position: absolute;
    left: 80%;
}

/* feedback.html */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */

#feedbackPage {
    background-image: url("Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#feedbackPage h1 {
    background-color: rgba(255, 255, 255, 0.589);
    color: rgba(162, 2, 255, 0.474);
    font-family: "Bebas Neue", arial, sans-serif;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
    border: 5px solid;
    margin: 0px;
}

#feedbackPage h1:hover {
    cursor: default;
}

#feedbackPage form {
    background-color: rgba(234, 106, 15, 0.212);
    border: 2px solid rgba(234, 106, 15, 0.212);
    padding: 30px 10px;
    margin: auto;
    width: 60%;
    text-align: center;
}

#feedbackPage label, #feedbackPage input {
    font-family: "Chakra Petch", arial, sans-serif;
    font-size: 20px;
    font-weight: light;
    text-align: center;
}

#feedbackPage label {
    padding-right: 20px;
}

#feedbackPage .rating {
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin: auto;
    max-width: 300px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#feedbackPage .rating header {
    color: rgba(0, 0, 0, 0.3);
    font-family: "Josefin Sans", arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#feedbackPage .stars {
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 10px;
}

#feedbackPage .stars i {
    cursor: pointer;
    transition: color 0.2s ease;
}

#feedbackPage .stars i.on {
    color: orange;
}

#feedbackPage .commentBox {
    display: block;
}

#feedbackPage .commentBox header {
    background-color: rgba(255, 149, 0, 0.922);
    font-family: "Chakra Petch", arial, sans-serif;
    font-size: 20px;
    border: 2px outset rgba(255, 149, 0, 0.922);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 5px;
    margin: auto;
    height: 100%;
    width: 97%;
    max-width: 400px;
}

#feedbackPage .commentBox textarea {
    border: 1px solid rgba(255, 149, 0, 0.922);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
    width: 97%;
    max-width: 400px;
}

/* thankyou.html */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */

#thankyouPage h1 {
    font-family: "Exo 2", arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    border: 10px double black;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    transform: translateY(40vh);
}

/* contact.html */
/* ------------ */
/* ------------ */
/* ------------ */
/* ------------ */
/* ------------ */

#contactPage body {
    background-color:rgba(222, 184, 135, 0.3);
}

#contactPage img.upperPart {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#contactPage form.upperPart {
    display: block;
    background-color: white;
    border-radius: 20px;
    width: 30vw;
    z-index: 1;
    position: absolute;
    top: 20vh;
    right: 5vw;
    text-align: center;
}

#contactPage form.upperPart h1 {
    color: black;
    font-family:"Dancing Script", Courier, monospace;
    font-size: 35px;
}

#contactPage form.upperPart div input {
    width: 80%;
    background-color: beige;
    margin: 5px auto;
    padding: 2% 5%;
    border: 2px solid beige;
    border-radius: 20px;
}

#contactPage form.upperPart div textarea {
    width: 80%;
    background-color: beige;
    margin: 5px auto 10px auto;
    padding: 5%;
    max-height: 100px;
    border: 2px solid beige;
    border-radius: 20px;
}

#contactPage form.upperPart .fa-user, #contactPage form.upperPart .fa-envelope {
    font-size: 30px;
    margin: 10px auto;
}

#contactPage form.upperPart button {
    background-color: rgba(137, 43, 226, 0.3);
    color: rgba(0, 0, 0, 0.5);
    font-family: "Arial Narrow" , Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    border: 1px solid rgba(137, 43, 226, 0.3);
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 0px 10%; 
}

#contactPage form.upperPart button:hover {
    background-color: rgba(137, 43, 226, 0.566);
    color: beige;
}

#contactPage form.upperPart button:active {
    background-color: rgba(226, 43, 43, 0.566);
    color: beige;
}

#contactPage div.upperPart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 94, 0, 0.679);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 5px 0px 20px black;
}

#contactPage div.upperPart div.infobox {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background: rgb(176, 138, 25);
    color: rgb(78, 61, 3);
    font-family: "Lexend", Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    height: 50%;
    border: 20px double rgba(0, 0, 0, 0.225);
    box-sizing: border-box;
    box-shadow: -5px 5px 20px black;
}

#contactPage div.upperPart div.infobox p.email {
    transform: translateY(-20px);
}

#contactPage div.upperPart div.infobox p.mobile {
    transform: translateY(20px);
}

/* about.html */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */
/* ---------- */

#aboutPage body {
    background-color: rgb(238, 99, 122);
}

#aboutPage div {
    background-color: beige;
    border: 80px solid white;
    margin: 8vh 10vw;
}

#aboutPage div img {
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 380px;
    float: left;
    margin: 5%;
    transform: translateY(-30px);
}

#aboutPage div header {
    text-align: center;
    line-height: 1.5em;
    margin: 0% 5%;
}

#aboutPage div header h1 {
    font-family: "Lilita One", arial, sans-serif;
    font-size: 50px;
    font-weight: lighter;
}


#aboutPage div header h3 {
    font-family: "Rowdies", arial, sans-serif;
    font-size: 25px;
    color: rgb(189, 21, 49);
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1%;
    margin-bottom: 1%;;
}

#aboutPage div header h3 span {
    color: rgb(80, 128, 10);
}

#aboutPage div p {
    font-family: "Orbitron", "Righteous", "Lilita One", arial, sans-serif;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    margin: 0% 5% 0% 5%;
    padding-bottom: 5%;
}

#aboutPage div p span {
    color: rgb(8, 141, 116);
}